<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Index" asp-route-category="Programming">Programming</a>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                { 
                    <a asp-controller="Panel" asp-action="Index">Panel</a>
                }
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign In</a>
            }
        </nav>

    </div>
    <div>@RenderBody()</div>

    @RenderSection("scripts", false)
</body>

</html>